.explore-button {
    padding: 0.625rem 0.875rem; 
    margin: 0 auto;             
    display: block;            
    font-size: 0.875rem;        
    font-weight: 500;           
    color: #0d9488;          
    background-color: #ffffff;  
    border-radius: 0.75rem;    
    width: fit-content;        
    cursor: pointer;
    border: none;
  }
  
  
  
  .explore-button:hover {
    background-color:  #0d9488; 
    color: #ffffff;
  }


  @media (max-width: 768px) {
    .explore-button{
      font-size: 0.80rem;
      padding: 0.6rem 1rem;
    }
  }
