.feature-card {
    padding: 0.625rem; 
    background-color: #115e59; 
    border-radius: 0.75rem; 
    border: 1px solid #0e7490; 
    width: 286px;
    box-sizing: border-box;
  }

  .feature-card:last-child{
    margin-left: auto;
    margin-right: auto;
  }

  
  .feature-icon-wrapper {
    margin-bottom: 0.625rem; 
    height: 30px;
    width: 30px;
    position: relative;
  }
  
  .feature-icon-bg {
    background-color: #ffffff; 
    border-radius: 0.375rem;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  
  .feature-icon {
    position: relative;
    z-index: 1;
  }
  
  .feature-title {
    margin-bottom: 0.25rem; 
    font-size: 1rem; 
    font-weight: 500; 
    color: #ffffff;
  }
  
  .feature-description {
    font-size: 0.75rem; 
    color: #cbd5e1; 
  }

    
  @media (max-width: 768px) {
    .feature-card {
      width: calc(50% - 17px);
    }
  }
  
  @media (max-width: 640px) {
    .feature-card {
      width: 100%;
    }
    .feature-title{
      font-size: 0.9rem;
    }
    .feature-description{
      font-size: 0.68rem;
    }
  }
  