.forgot-password{
    height: 100vh;
    display: flex;
}
/* Left panel here */
.green-container{
    /* flex: 1; */
    background: linear-gradient(to bottom right, #208E90, #09292A);
    width: 40%;
    color: white;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    min-height: 100vh;
    flex-direction: column;
    padding: 2rem;
}

.forgot{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    gap: 0.5rem;
    font-weight: bold;
}
.forgot-box{
    padding: 0.4rem;
    background-color: #fff;
    border-radius: 4px;
}
.forgot-icon{
    font-size: 1.5rem;
    color: #208E90;   
}
/* left panel done */

/* Right panel here */
.right-panel{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    width: 60%;
}
/* progressSteps */
.progress-container {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}
.step-icon {
  font-size: 15px;
  color: #d3d3d3;
}
.step-icon .progress-active {
  color: #2ca6a4;
}
.step-line {
  width: 150px;
  height: 2px;
  background-color: #d3d3d3;
  margin: 0 8px;
}
/* email style here */


.email-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 5rem; 
    width: 100%;
    max-width: 590px;
    padding: 0;
  }
  
  .email-form__group {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    width: 100%;
  }
  
  .email-form__label {
    font-size: 1rem;
    color: #212121; 
  }
  
  .email-form__input {
    padding: 1rem; 
    background-color: white;
    border: 1px solid #d4d4d8; 
    border-radius: 5px;
    height: 45px;
    color: #292524; 
    font-size: 16px;
    font-weight: 2700;
  
  }  
  .email-form-button {
    width: 100%;
    height: 45px;
    font-size: 15px; 
    font-weight: bold;
    color: white;
    background-color: #0d9488; 
    border: 1px solid #d4d4d8; 
    border-radius: 10px; 
    margin-top: 25px;
  }
.forgot-icon-image{
    width: 190px;
    margin: auto;


}

.error-text {
  color: red;
  font-size: 0.85rem;
  margin-top: 5px;
}

  /* email style done */