* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
body{
  height: 100vh;
  overflow-x: hidden;

}



button {
  cursor: pointer;
  border: none;
  outline: none;
  transition:
    transform 0.25s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.25s cubic-bezier(0.22, 1, 0.36, 1);
}

button:active {
  transform: scale(0.96);
  box-shadow:
    inset 0 4px 6px rgba(0, 0, 0, 0.2),
    inset 0 -4px 6px rgba(0, 0, 0, 0.2),
    inset 4px 0 6px rgba(0, 0, 0, 0.2),
    inset -4px 0 6px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
  body{
    font-size:0.95rem;
  }
}





