.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 30px; 
    background-color:#208E90;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
  }
  
  .scroll-to-top:hover {
    background-color: #007b8f;
  }
  