.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #208E90;  
    border: none;
    color: #fff;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 30px; 
    display: flex;

    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.8;
  }
  
  .scroll-to-top:hover {
    opacity: 1;
    transform: scale(1.1);  
  }
  
  .scroll-to-top:focus {
    outline: none;  
  }
  
  .scroll-to-top svg {
    font-size: 20px;
    transition: opacity 0.3s ease;
  }
  
  .scroll-to-top .scroll {
    font-size: 0.9rem;
    font-weight: 500;
    margin-left: 8px;  
    opacity: 1;  
    transition: opacity 0.3s ease;
  }
  
 